@import "tailwindcss";

:root {
    --background: #FFFFFF;
    --foreground: #212121;
    --primary: #003D78;
    --secondary: #9AD7F9;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    /*noinspection CssUnresolvedCustomProperty*/
    --font-sans: var(--font-lato);
    /*noinspection CssUnresolvedCustomProperty*/
    --font-mono: var(--font-jetbrains-mono);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #212121;
        --foreground: #ededed;
        --primary: #163C74;
        --secondary: #A7D5F6;
    }
}